{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <form action="/authenticate" class="form-signin" method="post">
      <h1>Fazer login</h1>
      <input type="email" name="email" placeholder="Digite seu email">
      <input type="password" name="password" placeholder="Digite sua senha">
      <button type="submit">Entrar</button>
      <a href="/signup">Criar nova conta</a>
    </form>
  </div>
{% endblock %}
