{% extends 'layouts/default.njk' %}
{% block body %}
  <div class="auth-wrapper">
    <form action="/register" class="form-signin" method="post">
      <h1>Criar nova conta</h1>
      <input type="text" name="name" placeholder="Digite seu nome">
      <input type="email" name="email" placeholder="Digite seu email">
      <input type="password" name="password" placeholder="Digite sua senha">
      <button type="submit">Criar conta</button>
      <a href="/">Já possuo uma conta</a>
    </form>
  </div>
{% endblock %}
